.hero {
  height: 100vh;
  background: @color-gunmetal;
  position: relative;
  overflow: hidden;
  z-index: 0;

  .gradient {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 20%;
    // background: radial-gradient(60% bottom,rgba(169,175,240,0.34077380952380953) 0%, rgba(236,233,215,0.5480567226890756) 69%, rgba(212,167,228,0.5032387955182073) 100%);
    // background: radial-gradient(at 60% bottom,rgba(169,175,240,0.34077380952380953) 0%, rgba(236,233,215,0.5480567226890756) 69%, rgba(212,167,228,0.5032387955182073) 100%)

  }

  .content {
    width: 100%;
    height: 100%;
    padding: 40px;
    position: absolute;
    z-index: 2;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

    h1 {
      user-select: none;
      font-family: @font-neon-cursive;
      font-weight: 400;
      font-size: 200px;
      color: white;
      
      margin-right: 40px;
      margin-top: -20px;

      text-shadow: 
        1px 0px 4px @color-bright-purple, 
        2px 0px 4px @color-bright-purple, 
        3px 0px 4px @color-bright-purple, 
        2px 0px 3px @color-neon-pink, 
        2px 3px 15px @color-neon-pink,
        2px 0px 15px,
        5px 0px 85px, 
        40px 0vw 100px  @color-neon-pink,
        40px 0vw 100px  @color-neon-pink;

      .neon-letter {
        &:nth-child(3) {
          animation: flicker 5s linear infinite;
        }
        &:nth-child(6) {
          animation: flicker 2s linear infinite;
        }
      }
    }
  
    h2 {
      margin: 0 500px 0 0;

      font-size: 16px;
      font-weight: 200;
      font-family: @font-fun;
      
      color: @color-neon-blue;
      background-color: @color-neon-blue;
      box-shadow: 10px 11px @color-neon-blue-dark;
      
      padding: 12px 16px;
      border-radius: 12px;
      
      width: fit-content;

      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      
      animation: float 5s ease-in-out infinite;
      
      > span {
        color: white;
      }

      .bullet {
        color: @color-neon-blue-dark;
      }
        
        &::after {
          // Dots and lines
          content: ".";
          
          text-shadow: 16px 16px  @color-neon-blue-dark;
          box-shadow: 12px 18px @color-neon-blue-dark;
          
          background-color: @color-neon-blue;
          
          font-size: 52px;
          font-weight: bold;
          text-align: right;
          line-height: 30px;

          width: 55px;
          height: 11px;
          border-radius: 13px;

          position: absolute;
          bottom: -20px;
          right: 0;
          z-index: -2;

          animation: float2 5s ease-in-out infinite;
        }
    }
  }
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		//text-shadow: none;
    opacity: .99;
		
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
	}
}

@keyframes float {
  // Main bubble
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float2 {
  // Dots and lines
  0% {
    line-height: 30px;
    transform: translatey(0px);
  }
  55% {
    transform: translatey(-20px);
  }
  60% {
    line-height: 10px;
  }
  100% {
    line-height: 30px;
    transform: translatey(0px);
  }
}


@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(360deg); }
    to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(360deg); }
    to { -o-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(360deg); }
    to { transform: rotate(0); }
}
