.nav {
  opacity: 1;
  visibility: visible;
  transition: @fast-transition;
  height: 60px;
  background: @sunrise-nav;
  margin: 0;
  position: sticky;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  font-family: @roboto;
  padding: 0 70px;
  .flex(@align: center);

  @media screen and (max-width: 450px) {
    transition: @fast-transition;
  }
  .dark-mode & {
    background: @sunset-nav;
  }

  &.-menu-open {
    transition: @fast-transition;
  }

  @media screen and (max-width: 480px) {
    position: fixed;
    padding: 0 0 0 20px;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    transition: @fast-transition;
  }

  &__content {
    width: @page-max-width;
    margin: 0 auto;
    .flex(center, space-between);
  }

  &__initials {
    height: 60px;
    font-size: 40px;
    color: @sunrise-nav-emphasis;
    .flex(@align: center);
    .dark-mode & { color: @sunset-nav-emphasis; }
    @media screen and (max-width: 480px) {
      font-size: 34px; 
      height: 100%;
    }
  }

  &__links {
    .flex(center);
    a {
      color: @white;
      font-size: 15px;
      margin: 0 30px;
      &:hover {
        color: @sunrise-yellow;
        .dark-mode & {
          color: @sunset-nav-emphasis;
        }
      }
    }
    @media screen and (max-width: 480px) {
      display: none;
    }
  }

  &__themes {
    margin-left: 20px;
    width: 40px;
  }

  &__icon {
    display: none;
    @media screen and (max-width: 480px) {
      display: block;
      height: 60px; 
      width: 100px;
      padding-right: 15px;
      .flex(center, flex-end);
    }
  }

  &__menu-pane {
    position: absolute;
    top: -100vh;
    height: calc(~"100vh - 60px");
    left: 0;
    width: 100%;
    transition: @fast-transition;
    opacity: 0;

    .flex(@justify: center,@direction: column);
    a {
      display: block;
      line-height: 1.3em;
      color: @white;
      font-size: 52px;
      text-transform: none;
      margin: 0 0 40px 0;
    }
    .-menu-open & {
      padding: 20px;
      background: @sunrise-nav;
      top: 60px;
      opacity: 1;
      .dark-mode & {
        background: @sunset-nav;
      }
    }
    .nav__themes {
      margin: -40px 0 40px 0;
    }
  }

  &.-is-hidden {
    opacity: 0;
    visibility: hidden;
    &.-menu-open {
      opacity: 1;
      visibility: visible;
    }
  }

  &.-is-transparent {
    background: transparent;
    position: absolute;
  }

  &.-is-hidden, 
  &.-is-transparent {
    &.-menu-open {
      background: @sunrise-highlight;
      .dark-mode & { background: @sunset-highlight; }
    }
  }
}