.nav {
  opacity: 1;
  visibility: visible;
  transition: all .3s ease-in;
  height: 60px;
  background: @sunrise-nav;
  margin: 0;
  position: sticky;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  font-family: @roboto;
  padding: 0 70px;
  .flex(@align: center);

  .dark-mode & {
    background: @sunset-nav;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    transition: .2s ease;
  }

  &__content {
    width: @page-max-width;
    margin: 0 auto;
    .flex(center, space-between);
  }

  &__initials {
    .flex(center);
    a {
      font-size: 40px;
      color: @sunrise-nav-emphasis;
      .dark-mode & {
        color: @sunset-nav-emphasis;
      }
    }
  }

  &__links {
    .flex(center);
    a {
      color: @white;
      font-size: 15px;
      margin: 0 30px;
      &:hover {
        color: @sunrise-yellow;
        .dark-mode & {
          color: @sunset-nav-emphasis;
        }
      }
    }
  }

  &__themes {
    margin-left: 20px;
    width: 40px;
  }

  &.-is-hidden {
    opacity: 0;
    visibility: hidden;
  }

  &.-is-transparent {
    background: transparent;
    position: absolute;
  }

}