.theme-toggle {
  cursor: pointer;
  .flex(center, center);
  &.-sunrise {
    &.-size-s {
      width: 38px;
    }
    &.-size-l {
      width: 72px;
    }
  }
  &.-sunset {
    &.-size-s {
      width: 32px;
    }
    &.-size-l {
      width: 56px;
    }
  }
}