.theme-toggle {
  cursor: pointer;
  .flex(center, center);

  &--sunrise {
    &.-size-s {
      width: 38px;
    }
    &.-size-l {
      width: 64px;
    }
  }
  &--sunset {
    &.-size-s {
      width: 32px;
    }
    &.-size-l {
      width: 48px;
    }
  }
}

.light-mode {
  .theme-toggle {
    &--sunrise {
      opacity: 1;
      .white { stroke: white; }
      .yellow { stroke: @button-yellow; }
    }
    &--sunset {
      opacity: 0.5;
      .yellow,
      .white {
        stroke: @sunrise-text;
      }
    }
  }
}

.dark-mode {
  .theme-toggle {
    &--sunset {
      opacity: 1;
      .white { stroke: white; }
      .yellow { stroke: @button-yellow; }
    }
    &--sunrise {
      opacity: 0.5;
      .yellow,
      .white {
        stroke: @sunrise-text;
      }
    }
  }
}