.page--not-found {
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to bottom right, #FF8E65, #FFECAC);
  font-family: 'Roboto', sans-serif;

  .dark-mode & {
    background-image: linear-gradient(to bottom right, #A366FF, #30C0E2);
  }

  &__404 {
    color: white;
    font-size: 240px;
    margin: 40px 0;
    font-weight: 900;
    @media screen and (max-width: 500px) {
      font-size: 180px;
    }
    @media screen and (max-width: 400px) {
      font-size: 100px;
      margin: 0;
    }
  }

  &__text {
    font-size: 36px;
    font-weight: 100;
    color: white;
    line-height: 100px;
    text-align: center;
    @media screen and (max-width: 400px) {
      font-size: 26px;
      line-height: 70px;
    }
  }
  
  &__back {
    width: 100%;
    width: 60px;
    height: 60px;
    @media screen and (max-width: 400px) {
      width: 30px;
      height: 30px;
    }
  }
}