.page--not-found {
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__404 {
    // color: @color-neon-pink-light;

    font-size: 12vw;
    // font-family: @font-neon;
    font-weight: 400;

    text-transform: none;
    white-space: nowrap;
          
    // text-shadow: @pink-neon-shadow;

    transition: color .2 ease;
  }

  &__text {
    font-size: 36px;
    font-weight: 100;
    color: white;
    line-height: 100px;
    text-align: center;
    @media screen and (max-width: 400px) {
      font-size: 26px;
      line-height: 70px;
    }
  }
  
  &__back {
    width: 100%;
    width: 60px;
    height: 60px;
    @media screen and (max-width: 400px) {
      width: 30px;
      height: 30px;
    }
  }
}