.page--about {
  font-family: @roboto;
  background: @white;

  &__hero {
    padding-top: 60px;
    height: 100vh;
    min-height: 500px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    .buildGradient(100vh, 500px);
    .flex(center, center);
    @media screen and (max-width: 850px) {
      height: 100vh;
      .buildGradient(100vh, 500px);
      text-align: center;
    }
  }

  .nav {
    position: fixed;
  }

  &__intro {
    color: @white;
    z-index: 5;
    height: 100%;
    position: relative;
    width: 100%;
    .flex(center);
    .page-center();
    @media screen and (max-width: 850px) {
      flex-wrap: wrap;
      .flex(center, center);
    }
  }

  &__text {
    max-width: 750px;
    margin-right: @page-padding;
    width: 90%;
    @media screen and (max-width: 850px) {
      margin-right: 0;
      margin-bottom: 40px;
    }
    h1 {
      font-weight: 300;
      font-size: 52px;
      margin-bottom: 40px;
      @media screen and (max-width: 955px) {
        font-size: 40px;
      }
      span {
        font-weight: 900;
        line-height: 1.4;
        margin-right: 8px;
      }
    }
    h2 {
      font-weight: 300;
      font-size: 22px;
      line-height: 1.4em;
      margin-bottom: 0;
      font-family: @roboto;
    }
  }

  &__underline {
    width: 260px;
    height: 3px;
    background: @sunrise-nav-emphasis;
    margin: 40px 0;
    .dark-mode & {
      background: @sunset-blue;
    }
    @media screen and (max-width: 850px) {
      margin: 30px auto;
    }
  }

  &__photo {
    min-width: 280px;
  }

  &__main {
    position: absolute;
    top: 100vh;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    min-height: 100vh;
    padding: 100px 70px 70px;
    background: white;

    h1 {
      color: @sunrise-nav-emphasis;
      font-weight: 900;
      font-size: 52px;
      .dark-mode & {
        color: @sunset-nav;
      }
    }
  }

  &__wrap {
    max-width: 1100px;
    margin: 0 auto;
    font-weight: 100;
    color: @icon-gray;
    .flex(@justify: space-between);
  }

  &__bio {
    width: 75%;
    margin-right: 90px;
    a,
    a:active,
    a:hover {
      text-decoration: none;
      color: @link-blue;
    }
    p {
      color: @icon-gray;
      margin-bottom: 30px;
      font-size: 19px;
      font-weight: 100;
    }
  }

  &__panel {
    width: 25%;
    margin-top: 20px;
    h3 {
      font-size: 17px;
      font-weight: 900;
      text-transform: uppercase;
      margin-bottom: 40px;
      color: @sunrise-nav;
      .dark-mode & {
        color: @sunset-nav;
      }
    }

    > div {
      margin-bottom: 25px;
    }

    h4 {
      font-weight: 700;
      font-size: 17px;
      margin-bottom: 5px;
    }

    span {
      font-size: 15px;
      display: block;
      line-height: 1.4;
    }
  }


}