@page-max-width: 1300px;
@page-padding: 60px;

@font-regular: 'Carter One', sans-serif;
@font-neon: 'Meow Script';
@font-fatlip: 'Fatlip';

@color-white: #fff;
// @color-black: #000;
@color-black: #252323;

// @color-neon-pink: #ff1bf7;
@color-neon-pink: #EE4266;

@color-orange: #FF4E00;
@color-lime: #CBFF4D;
@color-green: #4C8577;
@color-green-dark: #2D4E45;

// @color-neon-pink-medium: #ff85fb;
@color-neon-pink-medium: #F58FA5;
@color-neon-pink-light: #fde7ff;

@color-neon-purple: #9d77ff;
@color-neon-purple-medium: #d1bfff;
@color-neon-purple-light: #eee8ff;

@pink-neon-shadow: 
  2px 0px 4px @color-neon-pink, 
  2px 0px 4px @color-neon-pink, 
  3px 0px 4px @color-neon-pink-medium, 
  10px 0px 20px @color-neon-pink-medium, 
  10px 3px 40px @color-neon-pink-medium,
  40px 0vw 100px  @color-neon-pink,
  40px 0vw 200px @color-neon-pink,
  60px 0vw 300px @color-neon-pink;



