// Colors
@sunrise-peach: #FF8E65;
@sunrise-yellow: #FFECAC;
@sunrise-overlay: fade(#FF6262, 30%);
@sunrise-header-shadow: rgba(255,  253, 154, .25);
@sunrise-text: #212229;
@sunrise-highlight: #FFA680;
@sunrise-bg: #FEFCF1;
@sunrise-nav: fade(#FFA781, 90%);
@sunrise-nav-emphasis: #FFCEAA;

@sunset-purple: #A366FF;
@sunset-blue: #30C0E2;
@sunset-pink: #D95CEE;
@sunset-overlay: fade(@sunset-pink, 25%);
@sunset-header-shadow: fade(@sunrise-text, 18%);
@sunset-text: #D9DDE6;
@sunset-highlight: #668FF7; 
@sunset-bg: #1A1B30;
@sunset-nav: fade(#698AFC, 90%);
@sunset-nav-emphasis: #30C0E2;

@button-yellow: #FFFD9A; 
@button-hover: rgba(255, 253, 154, .2);
@link-blue: #61AFEF;


@white: #FFFFFF;

@light-gray: #9799A4;
@border-gray: fade(@light-gray, 50%);

// Fonts
@roboto: 'Roboto', sans-serif;
@code: 'Anonymous Pro', monospace;

// Layout

@page-max-width: 1100px;
@page-padding: 70px;

// Animations

@theme-transition: all .7s ease-in-out;
@fast-transition: all .3s ease;





// NEW

@font-header: 'Righteous', sans-serif;
@font-header-2: 'Unbounded', serif;
@font-regular: 'Manrope', sans-serif;
@font-neon-cursive: 'Neonderthaw', sans-serif;
@font-fun: 'Baloo', sans-serif;
@font-neon: 'Sono', sans-serif;
@font-fun-2: 'Exo 2', sans-serif;
@font-light-header: 'Carter One', sans-serif;

@light-mode-gradient: linear-gradient(351deg, @color-pale-yellow 14%, #e6effc 99%);


@color-gunmetal: #121934;
@color-dark-navy: #14133b;

@color-pale-yellow: #fff7d8;
@color-light-pink: #ffa0d9;
@color-pale-purple: #d4a7e4;
@color-bright-purple: #f1cbff;
@color-light-coral: #ff9382;
@color-light-blue: #92d7ff;
@color-light-green: #5de0cc;
@color-light-sunglow: #ffe190;

@color-pink-light: #fde4ff;

@color-neon-pink: #fb17c2;
@color-neon-light-pink: #FD86DF;
@color-neon-banana: #F1FFC4;
@color-neon-lime: #8fd600;
@color-neon-tennis: #DCF763;
@color-neon-blue: #627fff;
@color-neon-blue-dark: #1f3288;
@color-neon-smoke: #F5F5F5;

@color-neon-teal: #01f9f9;
@color-neon-purple: #dd00ff;
@color-neon-indigo: #4800ff;
@color-neon-indigo-dark: #4769FF;
@color-neon-indigo-light: #9d77ff;
@color-neon-coral: #ff4a4a;
