@page-max-width: 1300px;
@page-padding: 80px;


@font-regular: 'Manrope', sans-serif;
@font-neon: 'Neonderthaw', sans-serif;
@font-header-secondary: 'Carter One', sans-serif;

@color-gunmetal: #121934;
@color-white: #fff;

@color-neon-pink: #ff1bf7;
@color-neon-pink-light: #ff85fb;
@color-pink-light: #fde7ff;

@color-neon-purple: #9d77ff;
@color-neon-purple-medium: #d1bfff;
@color-purple-light: #e9e1ff;

@color-neon-indigo: #4800ff;
